.about{
    background-color: #dcf2f4
    ;
}
.about {
  padding: 60px 0;
  /* background-color: #f0f4f8; */
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.about h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Georgia', serif;
}

.about p {
  font-size: 1.5em;
  margin-bottom: 50px;
  color: #666;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #fff;
}

.image-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 30px;
  padding: 30px 0;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.image-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.image-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.arrow-button {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 1.5em;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.arrow-button:hover {
  background-color: rgba(50, 50, 50, 1);
  transform: scale(1.1);
}

.left-arrow {
  left: -25px;
}

.right-arrow {
  right: -25px;
}

@media (max-width: 768px) {
  .image-container {
    gap: 15px;
  }

  .image-container img {
    width: 150px;
    height: 150px;
  }

  .arrow-button {
    width: 40px;
    height: 40px;
  }

  .left-arrow {
    left: -20px;
  }

  .right-arrow {
    right: -20px;
  }
}
