.navbar-logo {
    height: 20px; /* Adjust height as needed */
    
  }
  
  .navbar-brand {
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    
  }
.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.3s, text-shadow 0.3s, transform 0.3s;
}

.navbar-link:hover {
  color: #ff6347;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
 
  color: #fff;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar-list {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.521);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    
  }
  .navbar-link {
    color: black;
    text-decoration: none;
  }
  .navbar-list.show {
    display: flex;
  }

  .navbar-item {
    margin: 0.5rem 0;
   
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }
}
